<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>




<div id="entry_article" ng-app="blogEntryApp" ng-controller="blogEntryCtrl">

  <hr />
  <diep-draw-board width="600" height="600">
      <diep-draw-node width="300" height="300" left="300" top="300" data="graphCmds.RB">
        <div>Right bottom</div>
      </diep-draw-node>
      <diep-draw-node width="300" height="300" left="0" top="0" data="graphCmds.LT">
        <div>Left top</div>
      </diep-draw-node>
  </diep-draw-board>
</div>



<script>
  //////////////////////////////////////////////////////////////////////////////
  // Helper functions
  //////////////////////////////////////////////////////////////////////////////
  function applyDefaultParameters(self, defaultParams) {
    for (let key in defaultParams) {
      if (typeof self[key] != "string") {
        self[key] = defaultParams[key];
      }
    }
  }

  function convertParametersToInt(self, keys) {
    let n = keys.length;
    for (let i = 0; i < n; i++) {
      self[keys[i]] = parseInt(self[keys[i]]);
    }
  }

  function convertParametersToBindingSetting(params, bindingSetting = '@') {
    for (let key in params) {
      params[key] = bindingSetting;
    }
  }

  function getBoolean(b, bDefault = false) {
    let defaultValue = (typeof bDefault === "boolean") ? bDefault : false;
    return (typeof b === "boolean") ? b : defaultValue;
  }

  function getStringMap(map) {
    if (map == null || !(typeof map === "object")) {
      return null;
    }
    let result = {};
    let isMap = false;
    for(let key in map) {
      if (typeof map[key] === "string") {
        isMap = true;
        result[key] = map[key];
      }
    }
    return isMap ? result : null;
  }



  //////////////////////////////////////////////////////////////////////////////
  // Data mode
  //////////////////////////////////////////////////////////////////////////////
  // This class may be deprecated
  class GraphicRenderRequest {
    constructor(...args) {
      this.$$GraphicRenderRequestPrivateAttrs = Symbol();
      this[this.$$GraphicRenderRequestPrivateAttrs] = {};
      let $$this = this[this.$$GraphicRenderRequestPrivateAttrs];
      $$this.operation = args[0];
      args.shift();
      $$this.parameters = args;
    }

    getOperation() {
      let $$this = this[this.$$GraphicRenderRequestPrivateAttrs];
      return $$this.operation;
    }

    getParameters() {
      let $$this = this[this.$$GraphicRenderRequestPrivateAttrs];
      return $$this.parameters;
    }
  };



  //////////////////////////////////////////////////////////////////////////////
  // GUI component
  //////////////////////////////////////////////////////////////////////////////
  class DiepDraw {
    ////////////////////////////////////////////////////////////////////////////
    // Angular attributes
    ////////////////////////////////////////////////////////////////////////////
    // State of component, its domain values are:
    //   0: initialized state
    //   1: joined state (it is registered with an Angular application)
    static get TAG_PREFIX() {
      return "diepDraw";
    }

    static get TAG_FULL_NAME() {
      throw new TypeError(
        "Can not invoke abstract property TAG_FULL_NAME of abstract class "
        + this.name
      );
    }

    static get DEFAULT_PARAMS() {
      return {
        "width":  "32",
        "height":  "32",
      };
    };


    constructor(
      isTranscluded = false,
      requiredComponents = null
    ) {
      // Private attributes
      this.$$DiepDrawPrivateAttrs = Symbol();
      this[this.$$DiepDrawPrivateAttrs] = {};
      let $$this = this[this.$$DiepDrawPrivateAttrs];
      $$this.state = 0;

      if (new.target === DiepDraw) {
        throw new TypeError(
          "Can not initialize an instance of abstract class "
          + this.constructor.name
        );
      }
      $$this.isTranscluded = getBoolean(isTranscluded);
      $$this.requiredComponents = getStringMap(requiredComponents);
    }

    join(app) {
      let $$this = this[this.$$DiepDrawPrivateAttrs];
      if ($$this.state != 0) {
        return false;
      }
      app.component(this.constructor.TAG_FULL_NAME, this.getComponentConfig());
      $$this.state = 1;
      return true;
    }

    getComponentConfig() {
      let $$this = this[this.$$DiepDrawPrivateAttrs];
      let config = {
        template:   this.getTemplateString(),
        controller: this.getControllerConfigFunc(),
        bindings:   this.getBindingConfig()
      };
      if ($$this.isTranscluded) {
        config.transclude = true;
      }
      if ($$this.requiredComponents != null) {
        config.require = $$this.requiredComponents;
      }
      return config;
    }

    // To be overriden
    getTemplateString() {
      throw new TypeError(
        "Can not invoke abstract method getTemplateString"
      );
    }

    // Could be overriden
    getControllerConfigFunc() {
      let controllerConfigFunc = function ($scope, $element) {
      }
      return controllerConfigFunc;
    }

    getDefaultParametersBindingConfig() {
      let result = {};
      let proto = this.constructor;
      while (typeof proto["DEFAULT_PARAMS"] === "object") {
        result = Object.assign(result, proto["DEFAULT_PARAMS"]);
        proto = Object.getPrototypeOf(proto);
      }
      return result;
    }

    // To be overriden
    getBindingConfig() {
      // Retreive default parameters and convert them into '@' binding configure
      let result = this.getDefaultParametersBindingConfig();
      convertParametersToBindingSetting(result);
      return result;
    }
  }


  class Node  extends DiepDraw {
    static get TAG_FULL_NAME() {
      return DiepDraw.TAG_PREFIX + "Node";
    }

    static get DEFAULT_PARAMS() {
      return {
        "left":  "0",
        "top":   "0",
      };
    };

    constructor(isTranscluded = true) { 
      super(
        isTranscluded,
        {
          boardCtrl: '^' + Board.TAG_FULL_NAME
        }
      );
      // Private attributes
      this.$$NodePrivateAttrs = Symbol();
      this[this.$$NodePrivateAttrs] = {};
      let $$this = this[this.$$NodePrivateAttrs];
      $$this.left =
        (typeof left === "number") ? left : 0;
      $$this.top =
       (typeof top === "number") ? top : 0;
    }

    getTemplateString() {
      return "<div ng-transclude ng-style=\"$ctrl.style\"></div>";
    }

    getControllerConfigFunc() {
      let thisNode = this;
      let controllerConfigFunc = function ($scope, $element) {
        this.COORDINATE_CONVERT_NEED_FUNCS = [
          "fillRect"
        ];
        this.convertToGlobalCoordinate = function (operation, params) {
          let funcList = this.COORDINATE_CONVERT_NEED_FUNCS;
          if (funcList.includes(operation)) {
            params[0] += this.left;
            params[1] += this.top;
          }
        }
        this.render = function(graphContext) {
          const PROTO = CanvasRenderingContext2D.prototype;
            let renderRequests = this.data;
            let nRenderRequest = renderRequests.length;
            for (let i = 0; i < nRenderRequest; i++) {
              let renderRequest = renderRequests[i];
              let op = renderRequest[0];
              let params = renderRequest[1];
              if (Array.isArray(params)) {
                this.convertToGlobalCoordinate(op, params);
                PROTO[op].apply(graphContext, params);
              }
              else {
                graphContext[op] = params;
              }
            }
        };

        this.$onInit = function() {
          this.boardCtrl.insert(this);
        };
        this.$postLink = function() {
          let keys = [];
          let defaultParams = thisNode.getDefaultParametersBindingConfig();
          for (var key in defaultParams) {
            keys.push(key);
          }
          // Default params setting applying
          applyDefaultParameters(this, defaultParams);
          // Convert params to integer
          convertParametersToInt(this, keys);

          // Compute style for template
          this.style = {
            "position":     "absolute",
            "left":         this.left + "px",
            "top":          this.top + "px",
            "width":        this.width + "px",
            "height":       this.height + "px",
            "border-width": "0px",
            "border-style": "none",
            "margin":       "0px 0px 0px 0px"
          };
        };
      }
      return controllerConfigFunc;
    }

    getBindingConfig() {
      let result = super.getBindingConfig();
      result["data"] = '<';
      return result;
    }
  };


  class Board extends DiepDraw {
    static get TAG_FULL_NAME() {
      return DiepDraw.TAG_PREFIX + "Board";
    }

    static get DEFAULT_PARAMS() {
      return {};
    };

    constructor(isScrollable = false, isSpanable = false) {
      super(true);
      // Private attributes
      this.$$BoardPrivateAttrs = Symbol();
      this[this.$$BoardPrivateAttrs] = {};
      let $$this = this[this.$$BoardPrivateAttrs];
      $$this.isSpanable =
        (typeof isSpanable === "boolean") ? isSpanable : false;
      $$this.isScrollable =
        (typeof isScrollable === "boolean") ? isScrollable : false;
    }

    getTemplateString() {
      // There is no template, this node just 'transclude'
      return "";
    }

    getControllerConfigFunc() {
      let thisBoard = this;
      let controllerConfigFunc = function ($scope, $element, $transclude) {
        this.nodes = [];
        this.insert = function (node) {
          this.nodes.push(node);
        }

        this.$postLink = function() {
          let keys = [];
          let defaultParams = thisBoard.getDefaultParametersBindingConfig();
          for (var key in defaultParams) {
            keys.push(key);
          }
          // Default params setting applying
          applyDefaultParameters(this, defaultParams);
          // Convert params to integer
          convertParametersToInt(this, keys);

          // Create canvas and make it as backgroud image for nodes rendering
          // The lay out is as below:
          //   <wrap div 'position: relative;'>
          //     <bgDiv 'position: absolute;'>
          //        <canvas>
          //         <!--
          //            will be rendered programmatically by javascript as
          //            below code
          //         -->
          //        </canvas>
          //     </bgDiv>
          //     <template div 'position: absolute;'>
          //         <!-- 
          //            house nodes, will be html rendered by nodes
          //         -->
          //     </template div>
          //   </wrap div>
          let bgDiv = document.createElement("div");
          bgDiv.style["position"]     = "absolute";
          bgDiv.style["left"]         = "0px";
          bgDiv.style["top"]          = "0px";
          bgDiv.style["width"]        = this.width + "px";
          bgDiv.style["height"]       = this.height + "px";
          bgDiv.style["border-width"] = "0px";
          bgDiv.style["border-style"] = "none";
          bgDiv.style["margin"]       = "0px 0px 0px 0px";
          $element.prepend(bgDiv);
          $element.wrap([
            "<div ",
              "style='",
                "position: relative; ",
                "width: ",
                  this.width + "px;",
                "height: ",
                  this.height + "px;",
              "'>",
            "</div>"
          ].join(""));
          let canvas = document.createElement("canvas");
          canvas.width = this.width;
          canvas.height = this.height;
          bgDiv.appendChild(canvas)

          // Process graphic draw node requests
          let ctx = canvas.getContext("2d");
          let nodes = this.nodes;
          let nNode = nodes.length;
          const PROTO = CanvasRenderingContext2D.prototype;
          for (let i = 0; i < nNode; i++) {
            nodes[i].render(ctx);
          }
        }
        $transclude(function(clone, scope) {
          $element.append(clone);
        });
      }
      return controllerConfigFunc;
    }
  }





  let app = angular.module('blogEntryApp', []);
  app.controller("blogEntryCtrl", function($scope) {
    $scope.graphCmds = {
      "RB" : [
        [
          "fillStyle",
          "#eeeeee"
        ],
        [
          "fillRect",
          [0, 0, 36, 92]
        ],
        [
          "fillRect",
          [10, 10, 26, 26]
        ]
      ],

      "LT" :[
        [
          "fillStyle",
          "#ee0000"
        ],
        [
          "fillRect",
          [5, 5, 30, 20]
        ],
        [
          "fillRect",
          [20, 20, 36, 36]
        ]
      ],

    };
  });



  let node = new Node();
  let board = new Board();

  node.join(app);
  board.join(app);

</script>
